# Pandas tutorial 3
### What is Json and where to use it?
-  <b>Java Script Object Notation</b> (JSON) is a standardized format commonly used to transfer data as text that can be sent over a network. 
- It is used by lots of APIs and Databases and it's easy for both humans and machines to read.
- JSON represents object as name/value pairs, just like a Python dictionary.
- You can start using JSON right away with the built-in module </b>import json</b>
- <b>Serialization</b> is process of encoding data into JSON format (like converting a Python list to JSON).
- <b>Deserialization</b> is process of decoding JSON data back into native objects you can work with (like reading JSON data into a Python list).


### Topics we cover in this tutorial
- How to read json with <b>pd.read_json(data)</b>?
- Convert json to csv with <b>df.to_csv("file_name")</b>
- Reading a Json file through a URL, converting it to a DataFrame with <b>pd.read_csv()</b> without downloading the file.
- Converting Json to CSV with <b>df.to_json()</b>
- Converting Json to different Json formats with orient parameter <b>df.to_json(orient='records')</b>

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = """{"employee_name": "James",
            "email": "james@gmail.com",
            "job_profile": [{"title1": "Team Lead", "title2": "Sr.Developer"}]}"""
print(data)
type(data)

{"employee_name": "James",
            "email": "james@gmail.com",
            "job_profile": [{"title1": "Team Lead", "title2": "Sr.Developer"}]}

str

In [7]:
pd.read_json(StringIO(data))

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [4]:
from io import StringIO

In [26]:
df = pd.read_csv(StringIO(data), header=None)
df

,0,1
0,"{""employee_name"": ""James""",NaN
1,"""email"": ""james@gmail.com""",NaN
2,"""job_profile"": [{""title1"": ""Team L...","""title2"": ""Sr.Developer""}]}"

In [24]:
df = pd.read_csv(StringIO(data)) # REading json with pd.read_csv()
df

,"{""employee_name"": ""James""",Unnamed: 1
0,"""email"": ""james@gmail.com""",NaN
1,"""job_profile"": [{""title1"": ""Team L...","""title2"": ""Sr.Developer""}]}"

In [42]:
df = pd.read_json(data) # Reading json with pd.read_json()
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [27]:
df.to_csv('nested_json') # Converting Json DataFrameto CSV.

In [48]:
json1 = df.to_json() # Converting Json DataFrame to Json.
json1 # json1 is created in pair of {index_lable and data_value}

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [49]:
pd.read_json(json1) # Reading the converted Json file of Json DataFrame.

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [60]:
Data = """{"employee_name": "James",
"email": "james@gmail.com",
"job_profile": [{"title1": "Team Lead", "title2": "Sr.Developer"}],
"employee_name": "Martin",
"email": "martin@gmail.com",
"job_profile": [{"title1": "Supervisor", "title2": "QA"}]}"""

print(len(Data))
df_nested_json = pd.read_json(Data)

237

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [61]:
json2 = df_nested_json.to_json(orient='records') # Converting Json DataFrame to Json with additional parameter df.to_csv(orient='records').
json2 # json2 is created, key is column_name and value is data_value.

'[{"employee_name":"Martin","email":"martin@gmail.com","job_profile":{"title1":"Supervisor","title2":"QA"}}]'

In [51]:
df = pd.read_json(json2) # Reading json2.
df # Both json1 and json2 results the same DataFrame presentation but differen structures in json file.

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"