In [1]:
import pandas as pd

In [3]:


df = pd.read_csv("google_analytics.txt", sep=' ', header=None, error_bad_lines=False)
df

b'Skipping line 3: expected 6 fields, saw 10\nSkipping line 5: expected 6 fields, saw 7\nSkipping line 7: expected 6 fields, saw 7\n'

       0             1         2            3           4        5
0  Start  Introduction        to    Analytics  (31-07-20)  (15:43)
1    NaN           NaN       NaN          NaN         NaN      NaN
2    NaN           NaN       NaN          NaN         NaN      NaN
3    NaN           NaN       NaN          NaN         NaN      NaN
4    NaN           NaN       NaN          NaN         NaN      NaN
5  Start      Campaign  Tracking      (13:52)         NaN      NaN
6    NaN           NaN       NaN          NaN         NaN      NaN
7  Start         Goals       and  Conversions     (10:40)      NaN
8    NaN           NaN       NaN          NaN         NaN      NaN
9  Start  Glossary-Top        50        Terms          to     Know

In [3]:
url = r"E:\Project\Anaconda\csv\vbc\google_analytics.txt"

with open(url, 'r') as file_handle:
    for line in file_handle:
         print(line, end="")

Start Introduction to Analytics (31-07-20) (15:43)

Start Set up google analytics for your website (30-07-20) (14:32)

Start Analyze different types of reporting (23:45)

Start Learn about segments and dimensions (10:57)

Start Campaign Tracking (13:52)

Start Goals and Conversions (10:40)

Start Glossary-Top 50 Terms to Know

In [9]:
url = r"E:\Project\Anaconda\csv\vbc\google_analytics.txt"

with open(url, 'r') as file_handle:
    for line in file_handle:
        
        line = line.rstrip()
        if  line:
            index = line.find(':')
        
            print(line)
#         print(line[-5:-2])
            print("index = ",index)
        
        print("False")

Start Introduction to Analytics (31-07-20) (15:43)
index =  46

index =  -1
Start Set up google analytics for your website (30-07-20) (14:32)
index =  61

index =  -1
Start Analyze different types of reporting (23:45)
index =  46

index =  -1
Start Learn about segments and dimensions (10:57)
index =  45

index =  -1
Start Campaign Tracking (13:52)
index =  27

index =  -1
Start Goals and Conversions (10:40)
index =  31

index =  -1
Start Glossary-Top 50 Terms to Know
index =  -1

In [13]:
url = r"E:\Project\Anaconda\csv\vbc\google_analytics.txt"

with open(url, 'r') as file_handle:
    for line in file_handle:
        
        line = line.rstrip()
        if  line:
            mid = line.find(':')
            end = line.find(')', mid)
        
            print(line)
#         print(line[-5:-2])
            print("index = ",index)

Start Introduction to Analytics (31-07-20) (15:43)
index =  46
Start Set up google analytics for your website (30-07-20) (14:32)
index =  61
Start Analyze different types of reporting (23:45)
index =  46
Start Learn about segments and dimensions (10:57)
index =  45
Start Campaign Tracking (13:52)
index =  27
Start Goals and Conversions (10:40)
index =  31
Start Glossary-Top 50 Terms to Know
index =  -1

In [5]:
s = "(15:43)"
s.find(":")

3

In [10]:
print("")
print("")
print("")
print("L")

L

In [34]:
line = "Start Introduction to Analytics (31-07-20) (15:43)"
mid = line.find(':')
end = line.find(')', mid)
start = line.rfind( ")", mid)

In [35]:
start

49

In [44]:
line

'Start Introduction to Analytics (31-07-20) (15:43)'

In [51]:
line.rfind('In',0 ,19)

6

In [50]:
s = "Hello, I am 12! I like plankton but I don't like Baseball."
index = 34 #points to the 't' in 'but'
index_of_2nd_I = s.rfind('I', 0, index)

index_of_2nd_I

16

In [39]:
# 1st I = 7
# 2nd I = 16
# 3rd I

s = "Hello, I am 12! I like plankton but I don't like Baseball."
index = 34 #points to the 't' in 'but'
index_of_2nd_I = s.find('I', 0, index)
index_of_2nd_I

7

'I'

In [57]:
line[-7:-1]

'(15:43'

In [4]:
import re

In [115]:
time_series = list()

with open(url) as file_handle:
    for line in file_handle:
        line = line.rstrip()
        if line:   
            print(line)
            extracted_string = re.findall('[(]([0-9]+[:][0-9]+)[)]', line)
            print(extracted_string)
            if extracted_string:
                converted_value = str_to_int_convertion(extracted_string)
                print(converted_value)
                time_series.append(converted_value)
print(time_series)

Start Introduction to Analytics (31-0720) (15:43)
['15:43']
(15, 43)
Start Set up google analytics for your website (30:07-20) (14:32)
['14:32']
(14, 32)
Start Analyze different types of reporting (213:415)
['213:415']
(213, 415)
Start Learn about segments and dimensions (0010:57)
['0010:57']
(10, 57)
Start Campaign Tracking (13:522)
['13:522']
(13, 522)
Start Goals and Conversions (10:40)
['10:40']
(10, 40)
Start Glossary-Top 50 Terms to Know
[]
[(15, 43), (14, 32), (213, 415), (10, 57), (13, 522), (10, 40)]

In [109]:
chunk = time_series[1]
print(chunk)
str_to_list = chunk[0].split(':')
print(str_to_list)
# str_list_to_int_list
str_to_list[0] = int(str_to_list[0])
str_to_list[1] = int(str_to_list[1])
print(str_to_list)
# chunk[0].replace(":", ",")
# tup = tuple(chunk)
# tup

['14:32']
['14', '32']
[14, 32]

In [105]:
def str_to_int_convertion(list_=None, split_list=None, str_to_int=None):
    """1) This function get a list of one string element (eg: ['14:32']).
    2) It split a string elemnt into two strings elements (eg: ['14', '32']).
    3) Lastly it converts string elements into integer elements.[14, 32]
    """
    print(list_)
    str_to_int = []
    split_list = list_[0].split(':')
    print(split_list)
    type_conversion1 = int(split_list[0])
    print(type_conversion1)
    type_conversion2 = int(split_list[1])
    str_to_int.extend([type_conversion1,type_conversion2])
    return str_to_int

print(str_to_int_convertion([]))

['45:123,3']
['45', '123,3']
45

ValueError: invalid literal for int() with base 10: '123,3'

In [91]:
x = "My favorite numbers are :12: and *42* 12 24 4"
y = re.findall("*.*" ,x)
y

In [112]:
# data convertion
def str_to_int_convertion(list_=None, split_list=None, str_to_int=None):
    """1) This function get a list of one string element (eg: ['14:32']).
    2) Split a string into two string elements (eg: ['14', '32']).
    3) Converts string elements into integer elements.[14, 32]
    4) return a tuple (14,32)
    """
    if list:
        str_to_int = []
        split_list = list_[0].split(':')       # spliting 
        type_conversion1 = int(split_list[0])  # type casting
        type_conversion2 = int(split_list[1])  # type casting
        str_to_int.extend([type_conversion1,type_conversion2]) # making list
        return tuple(str_to_int)  # return tuple

print(str_to_int_convertion([]))

IndexError: list index out of range

In [ ]:
import re

# Global variables
url = r"E:\Project\Anaconda\csv\vbc\data\Virtual_Assistant_(VA)_or_FFL.txt"
time_series = list()

# Data type convertion
def str_to_int_convertion(list_=None, split_list=None, str_to_int=None):
    """1) This function get a list of one string element (eg: ['14:32']).
    2) Split a string into two string elements (eg: ['14', '32']).
    3) Converts string elements into integer elements (eg: [14, 32])
    4) return a tuple (eg: (14,32))"""
    str_to_int = []
    split_list = list_[0].split(':')       # spliting
    type_conversion1 = int(split_list[0])  # type casting
    type_conversion2 = int(split_list[1])  # type casting
    str_to_int.extend([type_conversion1, type_conversion2])  # making list
    return tuple(str_to_int)  # return tuple

# Reading file and Data Extraction
with open(url) as file_handle:
    for line in file_handle:
        line = line.rstrip()
        if line:
            print(line)
            extracted_string = re.findall('[(]([0-9]+[:][0-9]+)[)]', line)
            print(extracted_string)
            if extracted_string:
                converted_value = str_to_int_convertion(extracted_string)
                print(converted_value)
                time_series.append(converted_value)
print(time_series)

In [11]:
tup = (1,30)
dict(tup)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [15]:
tup = (0,0)
def hours_and_minutes_to_total_minutes(hours_and_minutes=None):
    """
    This function get a tuple (eg: (1,30)) which is 1 hour and 30 minutes
    and return an integer value 90 because there are 90 minutes in 1 hour 
    and 30 minutes.
    """
    hours = hours_and_minutes[0]
    minutes = hours_and_minutes[1]
    total_minutes = (hours * 60) + minutes
    return total_minutes
print(hours_and_minutes_to_total_minutes(tup))

0

In [8]:
for i,j in [1,2]:
    print(i,j)

TypeError: cannot unpack non-iterable int object

In [16]:
minutes = 90
def minutes_to_hours_and_minutes(integer):
    minutes = integer % 60
    hours = (integer - minutes) / 60
    return minutes, hours

print(minutes_to_hours_and_minutes(minutes))

(30, 1.0)

In [ ]:
def hours_and_minutes_to_total_minutes(hours_and_minutes=None):
    """This function get a tuple (eg: (1,30)) which is 1 hour and 30 minutes
    and return an integer value 90 because there are 90 minutes in 1 hour 
    and 30 minutes.
    """
    hours = hours_and_minutes[0]
    minutes = hours_and_minutes[1]
    total_minutes = (hours * 60) + minutes
    return total_minutes

In [9]:
def minutes_and_seconds_to_seconds(minutes_and_seconds):
    """This function get a tuple (eg: (1,30)) which is 1 minute and 30 seconds
    and return an integer value 90 because there are 90 seconds in 1 minute 
    and 30 seconds.
    """
    minutes = minutes_and_seconds[0]
    seconds = minutes_and_seconds[1]
    total_seconds = (minutes * 60) + seconds
    return total_seconds

In [10]:
tup = (124,41)
print(minutes_and_seconds_to_seconds(tup))

7481

In [11]:
def count_hours_minutes_seconds(seconds):
    '''This function counts how many hours,minutes and seconds
    in given number of seconds
    '''
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

In [12]:
sec = 7481
print(count_hours_minutes_seconds(sec))

(2, 4, 41)